fieldset {
    border: 0;
}
label {
    display: block;
    margin: 0 0 0 0;
}
select {
    width: 200px;
}
.overflow {
    height: 200px;
}
#datepicker{
    font-size: larger;
    font-weight: bold;
    color: #1c94c4;
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
}

#datepicker{
    font-size: larger;
    font-weight: bold;
    color: #1c94c4;
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
}

.hiddendata{
    display:none;
}
.row{
    margin-bottom:10px;
}
#shedPlot{
    width:300px;
    height: 700px;
    border-collapse: collapse;
}

td:first-child{
    font-weight: bold;
    background-color: white;
}
thead td:first-child{
    font-weight: bold;
    background-color: darkgrey;
}
thead td{
    background-color: darkgrey;
}

td{

    border-top:1px solid black;
    border-bottom:1px solid black;
    text-align: center;
}

table{
    margin:10px;
}


.delayed1 {
    background-color: #5E8265;
    position:relative;
}
.delclass {
    background-color: #5E8265;
    position:relative;
}
.delclass:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(data-del);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 120px;
}
.delclass:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}
.delayed2 {
    background-color: #6C7563;
}
.delayed3 {
    background-color: #7A6862;
}
.delayed4 {
    background-color: #885B60;
}
.delayed5 {
    background-color: #964E5F;
}
.delayed6 {
    background-color: #A4415E;
}
.delayed7 {
    background-color: #B2345C;
}
.delayed8 {
    background-color: #C0275B;
}
.delayed9 {
    background-color: #C0275B;
}
.delayed10 {
    background-color: #C0275B;
}
.delayed11 {
    background-color: #C0275B;
}
.delayed12 {
    background-color: #C0275B;
}
.delayed13 {
    background-color: #C0275B;
}
.delayed14 {
    background-color: #C0275B;
}
.delayed15 {
    background-color: #C0275B;
}
.delayed16 {
    background-color: #C0275B;
}
.delayed17 {
    background-color: #C0275B;
}
.delayed18 {
    background-color: #C0275B;
}
.delayed19 {
    background-color: #C0275B;
}
.delayed20 {
    background-color: #C0275B;
}
.delayed21 {
    background-color: #C0275B;
}
.delayed22 {
    background-color: #C0275B;
}
.delayed23 {
    background-color: #C0275B;
}
.delayed24 {
    background-color: #C0275B;
}

#mapboxdiv{
    width:400px;
    height:400px;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
