#testing{
    width:600px;
    height: 800px;
    border-collapse: collapse;
}


thead td{
    background-color: darkgrey;
}

td{
    border-top:1px solid black;
    border-bottom:1px solid black;
    text-align: center;
}

table{
    margin:15px;
    font-size: large;
}



@keyframes blink {
    0% {
        background-color: red;
        color:white;
    }
    50% {
        background-color: white;
        color:red;
    }
    100% { background-color: red;
        color:white;
    }
}
@-webkit-keyframes blink {
    0% {
        background-color: red;
        color: white;
    }
    50% {
        background-color: white;
        color: red;
    }
    100% {
        background-color: red;
        color: white;
    }
}
.tolate {
	/*
    -webkit-animation: blink 1.5s linear infinite;
    -moz-animation: blink 1.5s linear infinite;
    animation: blink 1.5s linear infinite;
	*/
	background-color: orange;
}