.class2 .xaxis path,
.class2 .xaxis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}


.class2 .yaxis path,
.class2 .yaxis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
