svg{
    stroke:#000;
}

.second-tick{
    stroke-width:5;
    fill:#000;
}
.hour-tick{
    stroke-width:10;
    fill:#000;
}
.minute-hand{
    stroke-width:12;
}
.hour-hand{
    stroke-width:18;
}
.second-hand{
    stroke-width: 5;
    stroke: red;

}

.hour-circle{
    display:none;
}
.minute-circle{
    display:none;
}
.second-circle{
    fill:red;
    stroke: none;
}


